<%- include('partials/header-2') %>
  <div class="my-lists">

  <div class="container mt-5 pt-5">
    <h1 class="d-flex justify-content-center text-white">Your Lists</h1>
    <div class="d-flex flex-column justify-content-center align-items-center">
    <ul class="list-group" style="width:300px">
        <% lists.forEach(function(list){ %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/listTitle/<%= list %>" class="text-decoration-none text-dark">
                <%= list %>
            </a>
                <form action="/removeList" method="POST">
                    <input type="hidden" class="form-control rounded-3" name="listToRemove" value="<%= list %>">
                    <button type="submit" class="btn btn-danger rounded-circle"><i class="fa-solid fa-xmark"></i></button>
                </form>
            </li>
        <% }) %>
    </ul>   
  </div>     
</div>

    <div class="d-flex flex-column justify-content-center align-items-center">
      <form action="/addList" method="POST" class="mt-4">
        <div class="input-group">
            <input type="text" class="form-control rounded-3" name="newList" placeholder="New List" required >
            <button type="submit" class="btn btn-primary ms-4 rounded-circle"><i class="fa-solid fa-plus"></i></button>
        </div>
    </form>
    </div>


  </div>






  <%- include('partials/footer-2') %>